# Importing necessary libraries

In [2]:
import numpy as np
import pandas as pd
import warnings as wn
wn.filterwarnings('ignore')

# Loading Dataset

In [4]:
df=pd.read_csv("flight.csv")
# droped unnecessary column
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,20 Dec 2018,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,22 Dec 2018,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0,Kamarata Airport (KTV),sub
2497,1247,24 Dec 2018,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0,Beni Airport (BNC),w/o
2498,1248,31 Dec 2018,Boeing 757-2B7 (WL),N938UW,American Airlines,0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,unk. date 2018,Rockwell Sabreliner 80,N337KL,private,0,"Eugene Airport, OR (EUG)",sub

# Perfoming EDA Check

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   acc.date    2500 non-null   object
 2   type        2500 non-null   object
 3   reg         2408 non-null   object
 4   operator    2486 non-null   object
 5   fat         2488 non-null   object
 6   location    2500 non-null   object
 7   dmg         2500 non-null   object
dtypes: int64(1), object(7)
memory usage: 156.4+ KB

In [7]:
df.describe()

        Unnamed: 0
count  2500.000000
mean    624.500000
std     360.915993
min       0.000000
25%     312.000000
50%     624.500000
75%     937.000000
max    1249.000000

In [8]:
df.shape

(2500, 8)

In [9]:
df.columns

Index(['Unnamed: 0', 'acc.date', 'type', 'reg', 'operator', 'fat', 'location',
       'dmg'],
      dtype='object')

In [10]:
df.isnull().sum()

Unnamed: 0     0
acc.date       0
type           0
reg           92
operator      14
fat           12
location       0
dmg            0
dtype: int64

In [11]:
col=df.columns

In [12]:
for i in col: #checking unique values 
    print("-"*20)
    print(" "*20)
    print(df[i].value_counts())
    print("-"*20)
    print(" "*20)

--------------------

Unnamed: 0
0       2
830     2
837     2
836     2
835     2
       ..
416     2
415     2
414     2
413     2
1249    2
Name: count, Length: 1250, dtype: int64
--------------------

--------------------

acc.date
3 Mar 2020        24
15 Apr 2018       12
24 Feb 2022       12
4 Apr 2018        10
11 Sep 2019       10
                  ..
12 Jan 2020        2
13 Jan 2020        2
19 Jan 2020        2
24 Jan 2020        2
unk. date 2018     2
Name: count, Length: 871, dtype: int64
--------------------

--------------------

type
Cessna 208B Grand Caravan                   114
Antonov An-2R                                58
Beechcraft 200 Super King Air                58
de Havilland Canada DHC-6 Twin Otter 300     34
Cessna 208 Caravan I                         30
                                           ...
Boeing 767-375ER                              2
Boeing 747-412 (BCF)                          2
Boeing 747-412F (SCD)                         2
Boeing 737-76N (WL)                           2
Rockwell Sabreliner 80                        2
Name: count, Length: 523, dtype: int64
--------------------

--------------------

reg
unreg.     6
C-FKWE     4
OB-2152    4
N817NW     4
5Y-SAV     4
          ..
N705CK     2
N71VT      2
PR-YRH     2
N743QS     2
N337KL     2
Name: count, Length: 1194, dtype: int64
--------------------

--------------------

operator
private                                             206
American Airlines                                    44
Delta Air Lines                                      44
Unknown                                              38
United Airlines                                      36
                                                   ...
Helidosa Aviation Group                               2
Cottingham & Butler Insurance Services                2
Malu Aviation                                         2
Aeromedevac Air Ambulance                             2
Guardia Nacional Bolivariana de Venezuela - GNBV      2
Name: count, Length: 827, dtype: int64
--------------------

--------------------

fat
0       2068
1         86
2         70
4         38
3         38
5         24
0+1       16
6         14
7         12
9         12
8          8
11         8
10         8
0+2        6
12         6
15         4
18         4
14         4
13         4
20         4
39         2
66         2
1+2        2
38         2
51         2
21+6       2
257        2
5+14       2
1+5        2
112        2
41         2
71         2
21         2
157        2
26         2
97+1       2
176        2
1+1        2
16         2
28         2
50+3       2
62         2
5+1        2
19         2
132        2
22         2
189        2
Name: count, dtype: int64
--------------------

--------------------

location
Chicago-O'Hare International Airport, IL (ORD/KORD)    28
Nashville-John C. Tune Airport, TN (KJWN)              24
Denver International Airport, CO (DEN/KDEN)            16
Vancouver International Airport, BC (YVR/CYVR)         14
Houston-William P. Hobby Airport, TX (HOU)             14
                                                       ..
Dubuque, IA                                             2
Cancún Airport (CUN/MMUN)                               2
Fulshear, TX                                            2
14,8 km NW of Shabunda                                  2
Beni Airport (BNC)                                      2
Name: count, Length: 1059, dtype: int64
--------------------

--------------------

dmg
sub    1330
w/o     702
non     338
min      98
unk      30
mis       2
Name: count, dtype: int64
--------------------

In [13]:
df.duplicated().sum()

1250

In [14]:
df[df.duplicated()].index

Index([1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259,
       ...
       2490, 2491, 2492, 2493, 2494, 2495, 2496, 2497, 2498, 2499],
      dtype='int64', length=1250)

# Data Preprocessing

### Dropped unwanted columns

In [17]:
df.drop("Unnamed: 0",axis=1,inplace=True)

### Handling duplicated values

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
df.duplicated().sum()#removed all duplicated values

0

### Handling missing value

In [22]:
na_values=["reg","operator"]

In [23]:
for i in na_values:
    df[i]=df[i].fillna("others")

### Simplify damage

In [25]:
low_damage = ['non', 'min']
mid_damage = ['sub']
high_damage = ['w/o']

In [26]:
def simplify_dmg(val):#simplified the damage levels into four types
    if val in ['non', 'min']:
        return 'low'
    elif val == 'sub':
        return 'medium'
    elif val == 'w/o':
        return 'high'
    else:
        return 'unknown'

df['dmg_level'] = df['dmg'].apply(simplify_dmg)

In [27]:
df['dmg_level'].value_counts()

dmg_level
medium     665
high       351
low        218
unknown     16
Name: count, dtype: int64

In [28]:
df.drop(df[df["dmg_level"] == "unknown"].index, axis=0, inplace=True)#dropped the unknown damage
df.drop("dmg",axis=1,inplace=True)

In [29]:
df['dmg_level'].value_counts()

dmg_level
medium    665
high      351
low       218
Name: count, dtype: int64

### Cleaning inconsistent entries like "1+2" in the fatality column

In [31]:
def convert_sum(x):
    if pd.isna(x): 
        return None
    try:
        parts = str(x).split('+')                    
        return sum(int(i) for i in parts)             
    except ValueError:
        return None  
df['fat'] = df['fat'].apply(convert_sum)

In [32]:
df['fat'] = pd.to_numeric(df['fat'], errors='coerce') #to covert it as numeric

In [33]:
df['fat'].fillna(df['fat'].median(), inplace=True)#fill null values with median because of skewness

In [34]:
df['reg'].fillna("others", inplace=True)#fill null values with string "others"

In [35]:
df['operator'].fillna("others", inplace=True)#fill null values with string "others"

In [36]:
df.isnull().sum()#checking whether it has still null values present

acc.date     0
type         0
reg          0
operator     0
fat          0
location     0
dmg_level    0
dtype: int64

In [37]:
df

,acc.date,type,reg,operator,fat,location,dmg_level
0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0.0,near Venetia Mine Airport,medium
1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0.0,Roatán-Juan Manuel Gálvez International Airpor...,medium
2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0.0,Isfahan-Shahid Beheshti Airport (IFN),medium
3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0.0,Hangzhou Xiaoshan International Airport (HGH),high
4,12 Jan 2022,Beechcraft 200 Super King Air,others,private,0.0,"Machakilha, Toledo District, Grahem Creek area",high
...,...,...,...,...,...,...,...
1245,20 Dec 2018,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4.0,"2 km NE of Atlanta-Fulton County Airport, GA (...",high
1246,22 Dec 2018,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0.0,Kamarata Airport (KTV),medium
1247,24 Dec 2018,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0.0,Beni Airport (BNC),high
1248,31 Dec 2018,Boeing 757-2B7 (WL),N938UW,American Airlines,0.0,"Charlotte-Douglas International Airport, NC (C...",medium
1249,unk. date 2018,Rockwell Sabreliner 80,N337KL,private,0.0,"Eugene Airport, OR (EUG)",medium

# Exporting the cleaned data

In [39]:
df.to_csv("cleaned_flight_data.csv", index=False,encoding='utf-8')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1234 entries, 0 to 1249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   acc.date   1234 non-null   object
 1   type       1234 non-null   object
 2   reg        1234 non-null   object
 3   operator   1234 non-null   object
 4   fat        1234 non-null   float64
 5   location   1234 non-null   object
 6   dmg_level  1234 non-null   object
dtypes: float64(1), object(6)
memory usage: 77.1+ KB